.enlaces{
    margin: 10px auto;
    width: 955px;
    overflow-y: auto;
    text-align: right;
}

.cabeza {
    margin: 10px auto;
    width: 955px;
    overflow-y: auto;
}

.encabezado {
    border: 1px dashed black;
    overflow-y: auto;

}
.logo {
    float: left;
    width: 100px;
}

.textoencabezado {
    margin-top: 10px;
    width: 450px;
    float: left;
    overflow-y: auto;
}

h1 {
    text-align: right;
    font-size: 24px;
    margin-bottom: 0px;

}

h2 {
    text-align: right;
    font-size: 12px;
    margin-top: 0px;


}

.tryit {
    margin-top: 30px;
    width: 200px;
    overflow-y: auto;
    background-color: #87C50A;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    margin-left: 10px;
    text-align: center;
}

.login {
    margin-top: 30px;
    width: 100px;
    overflow-y: auto;
    background-color: grey;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    margin-left: 10px;
    text-align: center;
}

.menu {
    
    margin: 10px auto;
    background-color: #1984E2;
    width: 955px;
    overflow-y: auto;
    border-radius: 5px 5px 5px 5px;
    
}

.menu div {
    margin: 2px 2px 2px 2px;
    overflow-y: auto;
    background-color: #1984E2;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    text-align: center;
    
}
#item1 {
    margin: 2px 2px 2px 2px;
    overflow-y: auto;
    background-color: #0067BC;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    text-align: center;   
}

#item6 {
    margin: 2px 50px 2px 2px;
    overflow-y: auto;
    background-color: #1984E2;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    text-align: center;   
}

option {
    background-color: #1984E2;
}

.botonesderecha1 {
    margin: 2px 2px 2px 2px;
    overflow-y: auto;
    background-color: #1984E2;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    align-content: center;
    text-align: center;
}
.contenido {
    margin: 10px auto;
    background-color: #1984E2;
    width: 955px;
    height: 400px;
    overflow-y: auto;
    border-radius: 5px 5px 5px 5px;
    background-image: url("imagen.png");
}

.textocontenido h1{
    float: left;
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: 35px;
    margin-right: 100px;
    margin-bottom: 0px;
}

.textocontenido h2{
    float: left;
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 400px;
}

.textocontenidoinput {
    float: left;
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    margin-top: 20px; 

}

#textocontenidoinput {
    float: left;
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    margin-top: 20px; 
    margin-right: 600px;
    

}

.textocontenido p{
    float: left;
    color: white;
    font-family: sans-serif;
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 140px;
    margin-right: 300px;

}

.getstarted {
    width: 150px;
    overflow-y: auto;
    background-color: #87C50A;
    float: left;
    color: white;
    font-family: sans-serif;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;

}