<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout by kike</title>
    <link rel="stylesheet" href="layoutkike.css">
</head>

<body>
<div id="container">
  <div id="cabecera">
      <div id="left1">
        <div id="inleft1">
            <h1>RamblingSoul</h1>
            <p>
            A free Css Template from Ramblingsoul
            </p>
          </div>
      </div>
      
      <div id="center1">
          <div id="incenter1">
            <h4>Great Design</h4>
            <h3>Guaranteed</h3>
          </div>    
      </div>
      
      <div id="right1">
          <div id="inright1">
        <h3>Client Testimonial</h3>
        <p>Lorem fistrum quis al ataquerl a peich está la cosa muy malar adipisicing te voy a borrar el cerito me cago en tus muelas enim sexuarl. Diodeno a gramenawer reprehenderit commodo condemor consectetur dolore dolore. Mamaaarl. <img src="Flecha.png"> <u>Read More</u>
          </p>
        </div>
      </div>
    </div>
    
  <div id="body">
        <div id="menu">
                <div id="arribamenu1">
                    <ul><li id="li_home">HOME</li>
                        <li id="li_about">ABOUT</li>
                        <li id="li_products">PRODUCTS</li>
                        <li id="li_services">SERVICES</li>
                        <li id="li_news">NEWS</li>
                        <li id="li_contact">CONTACT</li>
                        <li id="li_nogo">NOGO</li>
                    </ul>
                </div>
            <div id="abajomenu1">
                    <ul id="abajomenu2">
                        <li id="abajomenu_a">Lorem Ipsum</li>
                        <li id="abajomenu_b">Dolor Sit Amet</li>
                        <li id="abajomenu_c">Consectetur Adispiscing</li>
                        <li id="abajomenu_d">Cras Tristique</li>
                    </ul>
                </div>
            </div>
      <div id="contenido">
                <div id="contenidoizq">
                    <h3 id="titulocontizq">our services</h3>
                    <ul id="contenidolista">
                        <li id="contenidolistaa">
                            <img id="azul" src="Cubo_azul.jpg">
                            <div id="servicios1"><h4 id="services" style="
    margin-bottom: 0px">Services Name One</h4></div>
                            <div id="texto1"><p id="text_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus porta, aliquam dolor quis, ultricies magna. Sed sem ipsum, ullamcorper nec augue id, facilisis maximus metus. Proin ut lorem lobortis eros venenatis fermentum volutpat at nulla. Vestibulum aliquam.  <br>  <img src="Flecha.png"> <u>Read More</u></p>
                                </div>
                            
                            
                        </li>
                        <li id="contenidolistab">
                            <img id="verde" src="Cubo_verde.jpg">
                            <div id="servicios"><h4 id="services" style="
    margin-bottom: 0px">Services Name One</h4></div>
                            <div id="texto1"><p id="text_1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus porta, aliquam dolor quis, ultricies magna. Sed sem ipsum, ullamcorper nec augue id, facilisis maximus metus. Proin ut lorem lobortis eros venenatis fermentum volutpat at nulla. Vestibulum aliquam.  <br>  <img src="Flecha.png"> <u>Read More</u></p>
                                </div>
                        </li>
                        <li id="contenidolistac">
                            <img id="morado" src="Cubo_morado.jpg">
                            <div id="servicios"><h4 id="services" style="
    margin-bottom: 0px">Services Name One</h4></div>
                            <div id="texto1"><p id="text_1">Lorem fistrum ut te va a hasé pupitaa aliquip cillum elit. Está la cosa muy malar tiene musho peligro diodenoo veniam. Ahorarr velit aute te voy a borrar el cerito te va a hasé pupitaa ullamco adipisicing mamaar et adipisicing minim. Hasta luego Lucas.  <br>  <img src="Flecha.png"> <u>Read More</u></p>
                                </div>
<!--Que harte lo que encuentra Conrado :D-->
                        </li>
                    </ul>
                </div>
                <div id="contenidoderecho">
                    <h3 id="tituloderch">some contents</h3>
                    <div id="tabladerch">
                        <div id="tabla_1">
                            <p id="t1_p1">Service title</p>
                            <p id="t1_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus porta, aliquam dolor quis, ultricies magna. Sed sem ipsum, ullamcorper nec augue id, facilisis maximus metus. Proin ut lorem lobortis eros venenatis fermentum volutpat at nulla. Vestibulum aliquam leo ligula, eget laoreet massa porta in. Aenean lectus nulla, malesuada id eros at, vehicula imperdiet elit. <p id="t1_p3"><img src="Flecha.png"> <u>Read More</u></p></p>
                        </div>
                        <div id="tabla_2">
                            <p id="t2_p1">Service title</p>
                            <p id="t2_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus porta, aliquam dolor quis, ultricies magna. Sed sem ipsum, ullamcorper nec augue id, facilisis maximus metus. Proin ut lorem lobortis eros venenatis fermentum volutpat at nulla. Vestibulum aliquam leo ligula, eget laoreet massa porta in.</p>
                            <p id="t2_p3"><img src="Flecha.png"> <u>Read More</u></p>
                    
                        </div>
                        <div id="tabla_3">
                            <p id="t3_p1">Service title</p>
                            <p id="t3_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a risus porta, aliquam dolor quis, ultricies magna. Sed sem ipsum, ullamcorper nec augue id, facilisis maximus metus. Proin ut lorem lobortis eros venenatis fermentum volutpat at nulla. Vestibulum aliquam leo ligula, eget laoreet massa porta in. Aenean lectus nulla, malesuada .</p>
                            <p id="t3_p3"><img src="Flecha.png"> <u>Read More</u></p>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="foot">
            <div id="textopie">
            <p id="textpie">ramblingsoul.com &#169; All Rights Reserved</p>
            <p>Template provided to Webducator for use in its CSS courseware.</p>
            <p><u>css template</u> by ramblingsoul</p>
            </div>
        </div>
    </div>
</body>
</html>

            